<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="../css/style.css">

</head>
<body>
<style>
    .card {
        width: 405px;
        height: 135px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
    .card__img {
        width: 50%;
        border-radius: 50%;
        background: #DD8484;
    }
</style>
<div class="row">

</div>
<script src="../js/libs/jquery-3.6.0.min.js"></script>
<script src="../js/libs/bootstrap.js"></script>
</body>
</html>